@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	*:focus {
		outline: none;
	}

	.sidebar-button {
		@apply flex
		w-full
		space-x-4 
		rounded-2xl 
		px-4 
		py-3 
		leading-none 
		text-slate-500
		dark:text-slate-400;
	}

	.sidebar-button-hover {
		@apply transition-all
		duration-75
		ease-linear 
		hover:bg-slate-100 
		dark:hover:bg-slate-700;
	}

	.sidebar-button-active {
		@apply bg-blue-500
		text-white
		dark:bg-blue-500 
		dark:text-white;
	}

	.icon-button {
		@apply rounded-2xl
		p-3
		text-slate-500
		dark:text-slate-400;
	}

	.icon-button-hover {
		@apply transition-all 
		duration-75
		ease-linear
		hover:bg-slate-100
		dark:hover:bg-slate-700;
	}

	.task-preview-container {
		@apply relative 
		h-full
		w-1/3
		max-w-[747.333px]
		overflow-hidden
		border-l-2
		border-slate-100
		p-4
		dark:border-slate-700;
	}

	.task-tab-active {
		@apply icon-button 
		icon-button-hover 
		flex 
		justify-center 
		after:absolute 
		after:z-10 
		after:mt-10 
		after:w-3
		after:rounded-full
		after:border-2 
		after:border-blue-500;
	}

	.tag {
		@apply flex
		h-10
		select-none 
		rounded-xl
		border-2
		border-slate-100
		px-3 
		py-2
		text-sm
		text-slate-500
		transition-all
		duration-75
		ease-linear
		focus:border-blue-500
		focus:bg-blue-500/10 
		dark:border-slate-700
		dark:text-slate-400 
		dark:focus:border-blue-500 
		dark:focus:bg-blue-500/20;
	}

	.create-new {
		@apply dark:shadow-slate-dark
		flex
		items-center
		rounded-2xl
		bg-blue-500
		px-4
		py-3
		leading-none
		text-white
		shadow-lg 
		shadow-slate-300 
		transition-shadow
		duration-75
		ease-in
		active:shadow-none 
		dark:bg-blue-500;
	}

	.items-create-new {
		@apply dark:shadow-slate-dark 
		absolute
		right-0 
		mt-4 
		w-56 
		space-y-2
		rounded-3xl
		bg-white 
		p-2
		text-slate-500
		shadow-lg
		dark:bg-slate-800
		dark:text-slate-400;
	}

	.task-status {
		@apply ml-1
		flex 
		select-none 
		items-center 
		space-x-4
		text-base
		text-slate-500
		dark:text-slate-400;
	}

	.task-status-circles {
		@apply flex 
		h-2.5 
		w-2.5
		items-center
		justify-center 
		rounded-full 
		ring-[6px];
	}
}
