@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@import url('../public/fonts/general-sans/css/general-sans.css');

	* {
		font-family: 'General-Sans';
	}

	#__next {
		@apply h-screen
		w-full 
		transition-all
		duration-200
		ease-linear
		dark:bg-slate-900
		dark:text-white;
	}
}
